<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_dual_arm">

  <!-- UR required args -->
  <xacro:arg name="ur_type" default="ur5e"/>
  <xacro:arg name="safety_limits" default="true"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <!-- UR macros -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>



<!--world frame-->

  <link name="world"/>

  <!-- base platform -->
  <!-- <link name="base_platform">
    <visual>
      <geometry>
        <box size="0.9 0.2 0.05"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.9 0.2 0.025"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="20.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
               iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link> -->

  <!-- Connect world to base platform -->
  <!-- z=0.9 means platform is 0.9m off ground -->
  <!-- <joint name="world_to_base_platform" type="fixed">
    <parent link="world"/>
    <child link="base_platform"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

  <!-- LEFT ARM
       Position: y=+0.25 (left side of platform)
       Faces forward: rpy="0 0 0"
       Role: PICKS objects from table -->
  <xacro:ur_robot
    name="left"
    tf_prefix="left_"
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur5e/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml">
    <origin xyz="0 0.4 0" rpy="0 -1.5708 0"/>
  </xacro:ur_robot>


  <!-- RIGHT ARM
       Position: y=-0.25 (right side of platform)
       Faces forward: rpy="0 0 0"
       Role: PLACES objects into sorted bins -->
  <xacro:ur_robot
    name="right"
    tf_prefix="right_"
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur5e/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml">
    <origin xyz="0 -0.4 0" rpy="0 -1.5708 0"/>
  </xacro:ur_robot>

  <!-- DEPTH CAMERA
       Attached to: WORLD (fixed, never moves)
       Position: center above workspace
       xyz="0.5 0 1.8" (in front, center, high up)
       rpy="0 1.5707 0" (pitched down to look at table) -->
  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.05 0.1 0.03"/>
      </geometry>
      <material name="black">
        <color rgba="0.1 0.1 0.1 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.1 0.03"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="world_to_camera" type="fixed">
    <parent link="world"/>
    <child link="camera_link"/>
    <origin xyz="0.5 0 1.8" rpy="0 1.5707 0"/>
  </joint>

  <!-- Optical frame - needed for image processing -->
  <!-- Different axis convention: Z forward, X right, Y down -->
  <link name="camera_depth_frame"/>
  <joint name="camera_to_depth" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_depth_frame"/>
    <origin xyz="0 0 0" rpy="-1.5707 0 -1.5707"/>
  </joint>

    <!-- Gazebo ↔ ros2_control bridge -->
    <!-- <gazebo>
    <plugin filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ur5e_dual_arm)/config/ros2_controllers.yaml</parameters>
    </plugin>
    </gazebo> -->


  <!--ROS2 CONTROL - LEFT ARM
       mock_components = fake hardware for testing -->
  <ros2_control name="left_arm_hardware" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="left_shoulder_pan_joint">
      <command_interface name="position">
        <param name="min">-6.28</param>
        <param name="max">6.28</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_shoulder_lift_joint">
      <command_interface name="position">
        <param name="min">-6.28</param>
        <param name="max">6.28</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-1.57</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_elbow_joint">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">1.57</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_wrist_1_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_wrist_2_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_wrist_3_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>


  <!-- ROS2 CONTROL - RIGHT ARM -->
  <ros2_control name="right_arm_hardware" type="system">
    <hardware>
        <plugin>gz_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="right_shoulder_pan_joint">
      <command_interface name="position">
        <param name="min">-6.28</param>
        <param name="max">6.28</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_shoulder_lift_joint">
      <command_interface name="position">
        <param name="min">-6.28</param>
        <param name="max">6.28</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-1.57</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_elbow_joint">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">1.57</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_wrist_1_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_wrist_2_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_wrist_3_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ur5e_dual_arm)/config/ros2_controllers.yaml</parameters>
        <ros>
        <remapping>~/robot_description:=/robot_description</remapping>
        </ros>
    </plugin>
  </gazebo>


</robot>

