left:
  controller_manager:
    ros__parameters:
      update_rate: 500

      joint_state_broadcaster:
        type: joint_state_broadcaster/JointStateBroadcaster

      left_arm_controller:
        type: joint_trajectory_controller/JointTrajectoryController
        joints:
          - left_shoulder_pan_joint
          - left_shoulder_lift_joint
          - left_elbow_joint
          - left_wrist_1_joint
          - left_wrist_2_joint
          - left_wrist_3_joint

right:
  controller_manager:
    ros__parameters:
      update_rate: 500

      joint_state_broadcaster:
        type: joint_state_broadcaster/JointStateBroadcaster

      right_arm_controller:
        type: joint_trajectory_controller/JointTrajectoryController
        joints:
          - right_shoulder_pan_joint
          - right_shoulder_lift_joint
          - right_elbow_joint
          - right_wrist_1_joint
          - right_wrist_2_joint
          - right_wrist_3_joint
